.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #243141;
}

.sliderTrackContainer {
  max-width: 1350px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/*.paginationDot--carousel{
  background-color: #68727d;
}*/

/*bolinhas do slider*/
.paginationDot--carousel:hover{
  background-color: #fff;
}
/* arrows dos slider*/
.caretIcon--carousel{
  color: #fff;
}

.caretIcon--carousel:hover{
  color: #8F9B9F;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
