
  .label{
    color: #ffffff;
  }
  .label:hover{
    color: #FFB100;
 }
 .formTitle{
   color: #232F3E;
 }
  /* .emailPasswordOptionBtn{
    background-color: #FFB100;
 }*/
 .buttonLink{
  color: #FFB100;
 } 
 





 