.notificationBarContainer {
  background-color: #232f3e;
  color: green;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.imageElement{
  padding:0px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.searchBarContainer {
  width: 238px;
  margin-right: none;
}
::placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: thin solid #ffb100;
  border-radius: 0;
}

.searchBarContainer :global(.vtex-input__suffix) {
  background: transparent;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background: transparent;
  color: #ffffff;
}
.searchBarIcon--search {
  color: #ffffff;
}
.searchBarIcon--search:hover {
  color: #ffb100;
}

/* .inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  color: #fff;
  border: none;
  margin-right: -24px;
}
 */
.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  /* .searchBarContainer--searchmobile {
    border-bottom: thin solid #ffffff;
  } */
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}


.flexRowContent--first-2{
  background: #242F3E !important;
}


.imageElement--bannerproduct {
  text-align: center;
  display: flex;
  margin-top: -3px;
  Width: 100%;
}

.imageElement--filter-logos {
  filter: grayscale(100%);
}

.imageElement--filter-logos:hover {
  filter: none!important;
}
/* .imageElement--logoheader {
  padding-left: 27px;
} */
.logoImage {
  width: 60px;
  padding-top: 10%;
}
.content--pdpdescription {
  text-align: justify;
}

